@font-face {
    font-family: Morganite;
    src: local("font/Morganite");
}

/*#c5d5cb*/
#9fa8a3

#SignOut {
    color: red;
}

body {
    background-color: #c5d5cb;
}


#logo {
    width: 50px;
}
.navbar-light .navbar-brand {
    color: #36465d;
    font-size: 40px;
    font-weight: bold;
}

.card{
    margin: 10px;
}
#mylistcard {
    margin-left: 10px;
}


.mainPageDiv {
    margin-top: 50px;
}

.bg-light {
    background-color: #9fa8a3!important;
}

#loginDiv{
    margin: 50px;
}

#loginButton {
    width: 172px;
}

.card{
    margin-left: 0;
}
#delete{
    margin:10px;
}
/*#myGiftsDiv {*/
/*    margin-top: 20px;*/
/*    margin-left: 50px;*/
/*    margin-right: 50px;*/
/*}*/

#reindeerGif {
    width: 50%;
    margin: 30px;
}
