@font-face {
    font-family: Morganite;
    src: local("font/Morganite");
}

/*#c5d5cb*/
#9fa8a3

#SignOut {
    color: red;
}

body {
    background-color: #c5d5cb;
    padding-top: 7%;
}
@media screen and (max-width: 800px) {
    body {
        padding-top: 20%;
    }

}

#logo {
    width: 50px;
}
.navbar-light .navbar-brand {
    color: #36465d;
    font-size: 40px;
    font-weight: bold;
}

.card{
    margin: 10px;
}
#mylistcard {
    margin-left: 10px;
}


.mainPageDiv {
    margin-top: 50px;
}

.bg-light {
    background-color: #9fa8a3!important;
}

#loginDiv{
    margin: 50px;
}

#loginButton {
    width: 172px;
    margin-top: 20px;
}

.card{
    margin-left: 0;
}
#delete{
    margin:10px;
}
/*#myGiftsDiv {*/
/*    margin-top: 20px;*/
/*    margin-left: 50px;*/
/*    margin-right: 50px;*/
/*}*/

#reindeerGif {
    width: 50%;
    margin: 30px;
}

#ListNamesDiv {
    margin-bottom: -20px;
    margin-top: 20px;
}
.Namesbutton {
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
.Namesbutton {
    font-size: 12px;
}}

#claimDiv {
    margin-top:10px;
}

#claimGift {
    margin-left: 10px;
}

#claimGiftButton {
    margin-left: -12px;}

.hrLine {
    height = 100%;
}

#shoppingRemove {
    margin-top: 15px;
}

#shoppingListtitle {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
}