<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <title> My Gift List </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert = "fragments/navbar :: navbar(${ownersInFamily}, ${adminOwners}, ${personLoggedIn})" > </div>
<div class="container">
    <div class="row">
        <div class="col mainPageDiv ">
            <h1>Edit Gift</h1>
            <form th:action="@{|/editGift/${giftToEdit.id}/${personName}|}" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Item Name</label>
                    <input th:field="${giftToEdit.giftName}" type="text" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description </label>
                    <input class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="${giftToEdit.giftDescription}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput12">URL</label>
                    <input th:field="${giftToEdit.giftUrl}" type="text" class="form-control" id="exampleFormControlInput12" placeholder="www.website.com">
                </div>

                <p>
                    <input class="btn btn-secondary" type="submit" value="Submit"/>
                    <a th:href="@{|/myList/${personName}|}"><button class="btn btn-secondary" type="button">Cancel</button></a>

                </p>
            </form>
        </div>
    </div>
</div>

</body>
</html>