<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <title>Gift Lists!</title>
</head>
<body id="MainBody">
<div th:insert = "fragments/navbar :: navbar(${ownersInFamily}, ${adminOwners}, ${personLoggedIn})" > </div>
<div class="container">
    <div class="row">

        <div class="col text-center mainPageDiv">
            <div sec:authorize="!isAuthenticated()">
                <h1 th:inline="text">Welcome! </h1>
                <a class="btn btn-light" th:href="@{/login}" role="button">Log in</a>
            </div>

            <h1 sec:authorize="isAuthenticated()" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>

        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img id="reindeerGif"src="/image/reindeer.gif">
        </div>
    </div>

</div>
</body>
</html>