<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
            xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <th:block th:replace="fragments/head :: head"></th:block>
    <title th:text="|${person}'s Gift List|"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert = "fragments/navbar :: navbar(${ownersInFamily}, ${adminOwners}, ${personLoggedIn})" > </div>

<div class="container-fluid">
    <div class="row">
        <div class="col" id="ListNamesDiv">
            <h5>All Gift Lists:</h5>
            <span th:each="p: ${ownersInFamily}" >
                <a th:unless="${p.name} == ${person}" class="btn btn-light Namesbutton" th:href="${p.name}" th:text="${p.name}"></a>
                <a th:if="${p.name} == ${person}" class="btn btn-light active Namesbutton" th:href="${p.name}" th:text="${p.name}"></a>
            </span>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mainPageDiv ">
            <h1 th:text="|${person}'s Gift List|" ></h1>
            <div class="card" th:each="gift: ${gifts}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${gift.giftName}"></h5>
                    <p class="card-text" th:text="${gift.giftDescription}"></p>
                    <a class="card-subtitle mb-2 text-muted" th:href="${gift.giftUrl}" th:target="_blank"  th:text="${gift.giftUrl}"></a>

                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>